<aside class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Hortis</a>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="menu-navbar">
        <ul class="nav navbar-nav">
            <li><a href="#/posts">Go Home</a></li>
        </ul>
    </div>
</aside>

<section>

    <form novalidate class="simple-form" role="form">
        <div class="form-group">
            <label for="username">Username: </label>
            <input id="username" class="form-control" placeholder="enter username" type="text" ng-model="security.username" />
        </div>
        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" id="password" class="form-control" placeholder="password" ng-model="security.password" />
        </div>
        <button class="btn btn-default" ng-click="log(security)">Login</button>

        <span class="help-block">Do you need an account? Follow this died <a href="#">link</a></span>
    </form>

</section>
